body {
    margin-left: 10% !important; /*width of sidebar*/
    margin-right: 10% !important;
    padding-top: 60px !important;
    background-color: #000000 !important;   
    color: #FDA91D !important;
}
#left {
    border: 3px solid #73AD21;
    position: relative !important;
    magin-left: 5% !important;
    padding-top: 60px !important;
}
