body {
    /*margin-left: 10% !important;*/ /*width of sidebar*/
   /* margin-right: 10% !important;*/
    padding-top: 60px !important;
    background-color: #000000 !important;   
    color: #FDA91D !important;
}
left {
    magin-left: 1% !important;
    padding-top: 60px !important;
}
