body {
    margin-left: 5% !important; /*width of sidebar*/
    margin-right: 5% !important;
    padding-top: 60px !important;
    background-color: #000000 !important;   
    color: #FDA91D !important;
}

#center {
    border: 1px solid #73AD21;
    position: relative !important;
    margin-left: 10%
}

#left {
    border: 1px solid #73AD21;
    position: relative !important;
    margin-left: 0% !important;
    width: 10% !important;
}

footer {
    border: 1px solid #73AD21;
    position: relative !important;
    padding-bottom: 10px !important;
}
